<h1>Borrow history for <%= @copy.book_title %></h1>
<% @copy.loans.each do |loan| %>
  <p>Checkout date: <%= loan.checkout_date %></p>
  <p>Checkin date: <%= loan.checkin_date %></p>
  <p>Due date: <%= loan.due_date %></p>
  <p>Borrower email: <%= loan.user.email %></p>
  <hr>
<% end %>
