<h1>All books</h1>
<% if logged_in? %>
  <%= link_to 'Create new book', new_book_path %>
<% end %>
<% @books.each do |book| %>
  <p>Title: <%= book.title %></p>
  <p>Author: <%= book.author %></p>
  <p>Genre: <%= book.genre %></p>
  <p>Sub genre: <%= book.sub_genre %></p>
  <p>Number of pages: <%= book.num_of_pages %></p>
  <p>Publisher: <%= book.publisher %></p>
  <% if logged_in? %>
    <%= link_to 'Full details', book %> | <%= link_to 'Edit', edit_book_path(book) %>
  <% end %>
  <hr>
<% end %>
