<h1>My books</h1>
<% @current_loans.each do |loan| %>
  <p>Title: <%= loan.book_title %> | <%= link_to 'Return', checkin_loan_path(loan), method: :post %></p>
  <p>Author: <%= loan.book_author %></p>
  <p>Genre: <%= loan.book_genre %></p>
  <p>Due date: <%= loan.due_date %></p>
  <hr>
<% end %>