<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="user_header">
      <% if logged_in? && admin? %>
        <%= link_to 'All books', books_path %> | <%= link_to 'All copies', copies_path %> | <%= link_to 'My books', loans_path %> | <%= link_to 'Logout', logout_path %>
      <% elsif logged_in? %>
        <%= link_to 'All books', books_path %> | <%= link_to 'My books', loans_path %> | <%= link_to 'Logout', logout_path %>
      <% else %>
        <%= link_to 'All books', books_path %> | <%= link_to "Sign Up", signup_path %> | <%= link_to "Log In", login_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
